<!DOCTYPE html>
<html lang="en" class=" js csstransforms">

  <head>
    <style type="text/css">
      @charset "UTF-8";
      [ng\:cloak],
      [ng-cloak],
      [data-ng-cloak],
      [x-ng-cloak],
      .ng-cloak,
      .x-ng-cloak,
      .ng-hide:not(.ng-hide-animate) {
        display: none !important;
      }

      ng\:form {
        display: block;
      }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title id="titles">Dias</title>
    <!--<span class="typed-cursor">|</span>-->
    <meta name="description" content="portfolio">
    <meta name="keywords" content="">
    <meta name="author" content="diasflp">
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <!--Fonts - changed to Source Code Pro-->
    <link href="http://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet" type="text/css">
    <!--CSS-->
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
  </head>

  <body data-ng-app="contactApp" class="ng-scope" style="overflow-y: visible;">
    <!--Preloader-->
    <div class="preloader-it" style="display: none;">
      <div class="la-anim-1 la-animate"></div>
    </div>
    <!--/Preloader-->
    <!--Container-->
    <div class="pad-zero">
      <!--Splitlayout -->
      <div id="splitlayout" class="splitlayout close-left reset-layout">
        <!--Intro-->
        <div class="intro">
          <!--Left Content Intro-->
          <div class="side side-left">
            <div class="col-lg-8 col-md-9 col-sm-9 col-xs-9 align-center content-wrap">
              <!--Logo-->
              <div class="logo align-center text-left">
                <!-- <img src="img/name_dark.png" alt="logo"> -->
                <h3>Hello, I am</h3>
              </div>
              <!--/Logo-->
              <!--main content-->
              <div class="main">
                <!--Content with Typing Intro-->
                <section id="home" class="section active">
                  <div class="preloader" style="display: none;"></div>
                  <div class="align-center text-left">
                    <span class="small-hr animated fadeInLeft" data-animation="fadeInLeft" data-out-animation="fadeOutLeft" data-out-animation-delay="200"
                      style="animation-delay: 1ms;"></span>
                    <p class="animated fadeInLeft" data-animation="fadeInLeft" data-out-animation="fadeOutLeft" data-out-animation-delay="300"
                      style="animation-delay: 1ms;">Felipe Dias</p>
                    <div class="type-wrap text-left">
                      <h1 class="animated fadeInLeft" data-animation="fadeInLeft" data-out-animation="fadeOutLeft" data-out-animation-delay="900"
                        style="animation-delay: 1ms;">
                        <span id="typed"> Hello</span>
                        <span class="typed-cursor">|</span>
                      </h1>
                    </div>
                  </div>
                </section>
                <!--/Content with Typing Intro-->
                <!--Notify Form-->
                <section id="contact" class="section text-left">
                  <div class="preloader" style="display: none;"></div>
                  <div class="main-menu">
                    <a class="close-notify black animated fadeOutUp active open" href="#home" data-animation="fadeInDown" data-animation-delay="900"
                      data-out-animation="fadeOutUp" data-out-animation-delay="100" style="animation-delay: 100ms;">
                      <div class="call-to-action">
                        <i class="fa fa-times fa-2x"></i>
                        <span class="top"></span>
                        <span class="right"></span>
                        <span class="bottom"></span>
                        <span class="left"></span>
                      </div>
                    </a>
                  </div>
                  <!--CONTENT CHANGED & <br> ADDED-->
                  <div class="notify-wrap">
                    <h3 class="wellcome-text ng-binding animated fadeOutLeft" data-animation="fadeInLeft" data-animation-delay="900" data-out-animation="fadeOutLeft"
                      data-out-animation-delay="100" data-ng-bind="notify || 'hello...'" style="animation-delay: 100ms;">Hello...</h3>
                    <form id="notifyMe" class="contact-form ng-pristine ng-valid ng-valid-email" action="notify-me.php" method="post">
                      <div class="input-wrap animated fadeOutLeft" data-animation="fadeInLeft" data-animation-delay="100" data-out-animation="fadeOutLeft"
                        data-out-animation-delay="900" style="animation-delay: 900ms;">
                        <input data-ng-model="notify" class="col-lg-10  align-center form-control input input__field input__field--hoshi notify-input-box ng-pristine ng-untouched ng-valid ng-valid-email"
                          name="email" placeholder="email" type="email">
                        <i></i>
                        <label class="input__label input__label--hoshi input__label--hoshi-color-1"></label>
                      </div>
                      <button type="submit" data-hover="Send" class="btn btn-default progress-button btn-submit animated fadeOutUp" data-animation="fadeInUp"
                        data-animation-delay="900" data-out-animation="fadeOutUp" data-out-animation-delay="1300" style="animation-delay: 1300ms;">
                        <span>
                          <span class="arrow-wrap">
                            <span class="arrow"></span>
                          </span>
                        </span>
                      </button>
                      <div class="col-lg-12 align-center" id="message"></div>
                    </form>
                  </div>
                </section>
                <!--/Notify Form-->
                <div class="copyright">
                  <ul class="social-icons">
                    <li>
                      <span style="color: #000;">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                        Recife-PE
                      </span>
                    </li>
                    <li>
                      <a target="_blank" href="https://www.facebook.com/flp.magno" class="social-icon">
                        <i class="fa fa-facebook"></i>
                      </a>
                    </li>
                    <li>
                      <a target="_blank" href="https://twitter.com/diasflp" class="social-icon">
                        <i class="fa fa-twitter"></i>
                      </a>
                    </li>
                    <li>
                      <a target="_blank" href="https://www.linkedin.com/in/felipe-dias-36a58630/" class="social-icon">
                        <i class="fa fa-linkedin"></i>
                      </a>
                    </li>
                    <li>
                      <a target="_blank" href="https://github.com/diasflp" class="social-icon">
                        <i class="fa fa-github" aria-hidden="true"></i>
                      </a>
                    </li>
                  </ul>
                  <p>by Felipe Dias © 2018</p>
                </div>
              </div>
              <!--/main content-->
            </div>
          </div>
          <!--/Left Content Intro-->
          <!--Right Content Intro-->
          <div id="astronomy_eff" class="side side-right">
            <div id="astronomy" style="height: 657px;">
              <canvas id="demo-canvas" width="683" height="657"></canvas>
            </div>
            <!--Contect Nav-->
            <div class="call-to-action contact">
              <i class="fa fa-envelope fa-2x"></i>
              <i class="fa fa-times fa-2x opacity-hide"></i>
              <span class="top"></span>
              <span class="right"></span>
              <span class="bottom"></span>
              <span class="left"></span>
            </div>
            <!--/Contect Nav-->
            <div class="trans-overlay-dark"></div>
          </div>
          <!--/Right Content Intro-->
        </div>
        <!--/Intro-->
        <!--Contact Section-->
        <div class="page page-right">
          <div class="page-inner full-height">
            <div class="container align-center detail-info">
              <div class="row box-contact">
                <div data-ng-controller="ContactController" class="panel-body ng-scope">
                  <h3 class="col-lg-12 col-xs-9 ng-binding" data-ng-bind="'Hello, ' + formData.inputName">How can I help?</h3>
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-9">
                    <form data-ng-submit="submit(contactform, $event)" name="contactform" method="post" class="form-horizontal ng-pristine ng-invalid ng-invalid-required ng-valid-email"
                      role="form">
                      <div class="form-group input--hoshi" data-ng-class="{ 'has-error': contactform.inputName.$invalid &amp;&amp; submitted }">
                        <div class="input-wrap">
                          <input data-ng-model="formData.inputName" type="text" class="form-control input__field input input__field--hoshi ng-pristine ng-untouched ng-invalid ng-invalid-required"
                            id="inputName" name="inputName" placeholder="Name" required="">
                          <label class="input__label input__label input__label--hoshi input__label--hoshi-color-1 input__label--hoshi input__label--hoshi-color-1"></label>
                        </div>
                      </div>
                      <div class="form-group  input--hoshi" data-ng-class="{ 'has-error': contactform.inputEmail.$invalid &amp;&amp; submitted }">
                        <div class="input-wrap">
                          <input data-ng-model="formData.inputEmail" type="email" class="form-control input input__field input__field--hoshi ng-pristine ng-untouched ng-valid-email ng-invalid ng-invalid-required"
                            placeholder="E-mail" id="inputEmail" name="inputEmail" required="">
                          <label class="input__label input__label--hoshi input__label--hoshi-color-1"></label>
                        </div>
                      </div>
                      <div class="form-group  input--hoshi" data-ng-class="{ 'has-error': contactform.inputMessage.$invalid &amp;&amp; submitted }">
                        <div class="input-wrap">
                          <textarea data-ng-model="formData.inputMessage" class="form-control input input__field input__field--hoshi ng-pristine ng-untouched ng-invalid ng-invalid-required"
                            rows="4" id="inputMessage" name="inputMessage" placeholder="Message" required=""></textarea>
                          <label class="input__label input__label--hoshi input__label--hoshi-color-1"></label>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="align-center">
                          <button type="submit" class="btn btn-default" data-ng-disabled="submitButtonDisabled">
                            <span>
                              <span class="arrow-wrap">
                                <span class="arrow"></span>
                              </span>
                            </span>
                          </button>
                        </div>
                      </div>
                    </form>
                    <p data-ng-class="result" class="ng-binding hidden"></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="trans-overlay-dark-contact"></div>
          </div>
        </div>
        <!--/Contact Section-->
      </div>
      <!-- /Splitlayout -->
    </div>
    <!-- /Container -->
    <!-- Scripts -->
    <script src="js/jquery-1.11.3.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/modernizr.custom.js"></script>
    <script src="js/classie.js"></script>
    <script src="js/jquery.countdown.js"></script>
    <script src="js/typed.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/owl.carousel.js"></script>
    <script src="js/input-text.js"></script>
    <script src="js/TweenLite.min.js"></script>
    <script src="js/EasePack.min.js"></script>
    <script src="js/rAF.js"></script>
    <script src="js/dance.js"></script>
    <script src="js/jquery.placeholder.js"></script>
    <script src="js/init.js"></script>
  </body>

</html>